.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-brand h1 {
  margin: 0px 0px;
  font-size: 1.75em;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-sections {
  padding: 0 0 0 0;
}
#nav-sections ul {
  margin: 0;
}
#nav-sections li {
  padding: 0 0;
  background-color: #CCCCCC;
}

#nav-sections hr {
  margin: 0 0;
}

main section div {
  padding: 0 15px;
  background-color: #FFDD99;
}
